body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}
.productos{
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 20px 20px #f7c65e;
}
.productos h2{
    font-size: 18px;
    font-weight: 100;
}

.productos img{
    width: 80%;
    margin-left: 10%;

}

.productos .descripcion{
    color: firebrick;
    text-align: center;
}

.productos .precio{
    color: black;
    font-weight: 300;
    font-size: 21px;
    text-align: right;
}

