*{
    margin: 0;
    padding: 0;
}
body{

}
header{
    background-image: url(./mutlimedia-img/header-img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 80px 0px;
}
header h1 {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: italic, sans-serif;
    font-size: 24px;
}
.nav-iten{
    margin: 5px 5px;
    padding-left: 5px;
}
.nav-iten a{
    text-decoration: none;
    color: aliceblue;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
main h2 {
    font-size: 30px;
    letter-spacing: 2px;
    padding-bottom: 40px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    padding: 60px;
    gap: 40px;
}
.container div img{
    }
footer{
    background-color: rgb(211, 210, 210);
    padding: 60px opx;
}
footer p{
    margin-left: 20px;
}
footer section div{
    background-color: rgb(12, 12, 12);
    margin: 5px 5px 5px 50px;
    width: 90%;
    height: 5px;
}